<section id="about" class="bg-primary">
  <div class="container text-center">
    <h2 class="section-heading" style="color:#fff">About Me</h2>
    <hr class="light">
    <p class="text-faded" style="font-size:18px">
      PhD student in AI (friendly, helpful, outgoing). I play volleyball most weekday evenings
      and I cook—often share meals with my roommate. I live with a cute, friendly cat, so I hope you love cats too!
    </p>
    <a href="#gallery" class="btn btn-default btn-xl">See Photos</a>
  </div>
</section>
