<section id="highlights">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Apartment Highlights</h2>
        <hr class="primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <ul style="font-size:18px; line-height:1.7">
          <li>Next to Boneyard Creek park (pond view from living room & bedrooms)</li>
          <li>Modern building (≤ 8 years old) with well-maintained furniture</li>
          <li>Large private balcony</li>
          <li>Extras: massage chair, beanbag, table lamps, cookware set, rice cooker, broom/mop/vacuum</li>
          <li>1 bed + 1 bath (in 2b2b). Cost: $1,095 rent + $49 internet/garbage + water & electricity</li>
        </ul>
      </div>
    </div>
  </div>
</section>
